*.bak
*.key
*.key.not-so-secret
*.log
*.owner

fingerprints
secrets
updates
userContent
users
war

plugins/*/
jobs/*/*/
jobs/*/lastStable
jobs/*/lastSuccessful
jobs/*/nextBuildNumber

hudson.scm.CVSSCM.xml
queue.xml
