*.bak
*.key
*.key.not-so-secret
*.log
*.owner

fingerprints
secrets
updates
userContent
users
war

com.cloudbees.jenkins.GitHubPushTrigger.xml
jenkins.model.JenkinsLocationConfiguration.xml
hudson.maven.MavenModuleSet.xml
hudson.plugins.git.GitSCM.xml
hudson.plugins.git.GitTool.xml
hudson.plugins.timestamper.TimestamperConfig.xml
hudson.scm.CVSSCM.xml
hudson.scm.SubversionSCM.xml
hudson.tasks.Ant.xml
hudson.tasks.Mailer.xml
hudson.tasks.Maven.xml
hudson.tasks.Shell.xml
hudson.triggers.SCMTrigger.xml
nodeMonitors.xml
org.jenkinsci.plugins.gitclient.JGitTool.xml
queue.xml

plugins/*/
plugins/ant.jpi
plugins/credentials.jpi
plugins/cvs.jpi
plugins/external-monitor-job.jpi
plugins/javadoc.jpi
plugins/ldap.jpi
plugins/mailer.jpi
plugins/maven-plugin.jpi
plugins/pam-auth.jpi
plugins/ssh-credentials.jpi
plugins/ssh-credentials.jpi.pinned
plugins/ssh-slaves.jpi
plugins/subversion.jpi
plugins/translation.jpi

jobs/*/*/
jobs/*/lastStable
jobs/*/lastSuccessful
jobs/*/nextBuildNumber
