<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.8">
      <projectUrl>https://github.com/mozilla-b2g/gaia/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.2">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@1.5.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name></name>
            <refspec></refspec>
            <url>http://git.mozilla.org/releases/gaia.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <ignoreNotifyCommit>false</ignoreNotifyCommit>
        <useShallowClone>true</useShallowClone>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
        <gitTool>Default</gitTool>
        <submoduleCfg class="list"/>
        <relativeTargetDir>gaia</relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <skipTag>false</skipTag>
        <includedRegions></includedRegions>
        <scmName></scmName>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@1.5.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name></name>
            <refspec></refspec>
            <url>https://github.com/mozilla/eideticker.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>true</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <ignoreNotifyCommit>false</ignoreNotifyCommit>
        <useShallowClone>true</useShallowClone>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
        <gitTool>Default</gitTool>
        <submoduleCfg class="list"/>
        <relativeTargetDir>eideticker</relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <skipTag>false</skipTag>
        <includedRegions></includedRegions>
        <scmName></scmName>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1382081846394</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.28">
      <project>b2g.inari.mozilla-central.download</project>
      <filter></filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
    </hudson.plugins.copyartifact.CopyArtifact>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1381395043707</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1381393993637</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1381394871633</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.28">
      <project>orangutan</project>
      <filter></filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
    </hudson.plugins.copyartifact.CopyArtifact>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1381394297522</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.28">
      <project>ntpclient-android</project>
      <filter></filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
    </hudson.plugins.copyartifact.CopyArtifact>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1381394404621</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1381394514932</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1387475764685</buildStepId>
      <buildStepArgs>
        <string>${WIFI_SSID}</string>
        <string>${WIFI_SECURITY}</string>
        <string>${WIFI_PASSWORD}</string>
      </buildStepArgs>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1381394662775</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
    <EnvInjectBuilder plugin="envinject@1.88">
      <info>
        <propertiesFilePath>eideticker/eideticker.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <org.jenkinsci.plugins.managedscripts.ScriptBuildStep plugin="managed-scripts@1.1">
      <buildStepId>org.jenkinsci.plugins.managedscripts.ScriptConfig1381394732681</buildStepId>
    </org.jenkinsci.plugins.managedscripts.ScriptBuildStep>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>logcat.txt, eideticker/captures/*.zip, eideticker/eideticker.properties, dimensions.png</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>true</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.2">
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>HTML Report</reportName>
          <reportDir>eideticker/src/dashboard</reportDir>
          <reportFiles>index.html</reportFiles>
          <keepAll>true</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin plugin="publish-over-ssh@1.10">
      <consolePrefix>SSH: </consolePrefix>
      <delegate>
        <publishers>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName></configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory></remoteDirectory>
                <sourceFiles>eideticker/src/dashboard/**</sourceFiles>
                <excludes></excludes>
                <removePrefix>eideticker/src/dashboard</removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand></execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
        </publishers>
        <continueOnError>false</continueOnError>
        <failOnError>false</failOnError>
        <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
        <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.12">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>120</timeoutMinutes>
      </strategy>
      <failBuild>false</failBuild>
      <writingDescription>false</writingDescription>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.7"/>
    <EnvInjectBuildWrapper plugin="envinject@1.88">
      <info>
        <propertiesContent>PATH=${WORKSPACE}/.env/bin:${ADB_PATH}:$PATH
CAPTURE_DEVICE=pointgrey
DEVICE_TYPE=b2g</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>